@use '../../Style/colors';
@use '../../Style/typographie';

.react-datepicker-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  padding-right: 10px;
}

.react-datepicker__input-container {
  flex: 1;
  width: 100%;
  line-height: 1.15;
  position: relative;

  &:before {
    content: attr(data-label);
    display: block;
    color: colors.$juw-grey-700;
    font-size: typographie.$font-size-default;
    cursor: text;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition-duration: 0.15s;
    transition-property: transform, font-size, color;
    white-space: nowrap;
    transform: translate3d(0, 33px, 0);
  }

  &.is-active {
    &::before {
      color: colors.$juw-primary;
    }
    &::after {
      height: 2px;
      margin-top: 7px;
      background: colors.$juw-primary;
    }
  }

  &.is-active, &.has-value {
    &::before {
      transform: translate3d(0, 10px, 0);
    }
  }

  &:after {
    margin: 8px 0 4px 0;
    content: '';
    overflow: visible;
    background: colors.$juw-grey-300;
    border: 0;
    height: 1px;
    display: block;
  }
}

.md-text-field.customDatePickerInputField {
  font-size: typographie.$font-size-default;
  color: colors.$juw-grey-900;
  margin-top: 33px;
  background: none;
  border: 0;
  line-height: inherit;
  padding: 0;
}
