
.fade-opacity-container > * {
  transition: opacity 290ms linear 10ms;
}

.fade-opacity-enter {
  opacity: 0;
}

.fade-opacity.fade-opacity-enter-active {
  opacity: 1;
}

.fade-opacity-leave {
  opacity: 1;
}

.fade-opacity-leave.fade-opacity-leave-active {
  opacity: 0;
}