node_modules
.idea
/showcase/tsconfig.json
.autohidefiles
.DS_Store
/showcase/dist/
/config.json
/setup.ts
/cypress.json
/build/index*
/build/wdyr*
/build/Component/develop*
/build/Component/Develop*
