node_modules
.idea
/.editorconfig
/.prettierrc
/.prettierignore
/tsconfig.json
/showcase/tsconfig.json
.autohidefiles
.DS_Store
/showcase/dist/
/config.json
.eslintrc
tsconfig.tsbuildinfo
/jest.config.ts
/setup.ts
/Dockerfile
/docker-compose-test.yml
/cypress.json
/build/Component/index
/build/Component/wdyr
/build/Component/develop
/build/Component/Develop*
