{
  "JscClient": {
    "Host": "http://localhost/jsc-api-de",
    "HostWebPackDev": "http://127.0.0.1:2008",
    "HostExternal": "http://de.master.api.staging-jsc-app.juwelo.local",
    "Timeout": 30000
  },
  "WebSocketClient": {
    "Host": "http://localhost:8080",
    "PrivateNamespace": "jsc2jfsApi",
    "AutoJoinRooms": [
      "ping"
    ]
  },
  "Language": "de",
  "Currency": "EUR",
  "Container": "juwelotv",
  "ContainerLanguage": "de",
  "AppName": "jfs_Boilerplate",
  "RobotUsername": "testuser",
  "RobotPassword": "geheim",
  "ForceHTTPS": false
}
