@import "~react-md/src/scss/react-md";
@import "../../style/layout";

.authorized-content {
  transition-property: opacity, right;
  transition-duration: $md-drawer-transition-time;

  position: fixed;
  overflow: auto;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;

  @media #{$md-desktop-media} {
    &.split-view--active {
      right: $notification-drawer-width;
    }
  }

  @media #{$md-tablet-media} {
    top: 64px;
  }

  &.hidden {
    opacity: 0;
  }
}
