@import '../../Style/main';

.app-header .websocket-status {
  width: 300px;

  .websocket-status-indicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  &.-is-connected .websocket-status-indicator {
    background-color: $md-green-900;
  }

  &.-is-not-connected .websocket-status-indicator {
    background-color: $md-error-color;
  }
}
