@import '~react-md/src/scss/_react-md';
@import '../../style/layout.scss';

body {
  .app-frame {
    transition-property: right;
    transition-duration: $md-drawer-transition-time;
    position: absolute;
    overflow: auto;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;

    @media #{$md-desktop-media} {
      &--split-view {
        right: $notification-drawer-width;
      }
    }
    @media #{$md-tablet-media} {
      top: 64px;
    }
  }
}
