@use '~react-md/src/scss/react-md';

// StyleGuide colors

//$juw-rubin: rgba(150, 30, 70, 0.7); // old color
$juw-rubin-900: rgb(150, 30, 70);
$juw-rubin-700: rgb(215, 15, 65);
$juw-rubin-500: rgb(240, 140, 140);
$juw-rubin-300: rgb(245, 200, 190);
$juw-rubin: $juw-rubin-900;

//$juw-rodolith: rgba(150, 25, 100, 1); // old color
$juw-rodolith-900: rgb(110, 30, 90);
$juw-rodolith-800: rgb(150, 25, 100);
$juw-rodolith-700: rgb(180, 20, 110);
$juw-rodolith-500: rgb(235, 95, 155);
$juw-rodolith-300: rgb(245, 180, 210);
$juw-rodolith: $juw-rodolith-900;

//$juw-topas: rgba(0, 110, 150, 0.7); // old color
$juw-topas-900: rgb(0, 110, 150);
$juw-topas-700: rgb(50, 180, 215);
$juw-topas-500: rgb(155, 205, 230);
$juw-topas-300: rgb(195, 230, 245);
$juw-topas: $juw-topas-900;

//$juw-apatith: rgba(0, 120, 125, 0.7); // old color
$juw-apatith-900: rgb(0, 120, 125);
$juw-apatith-700: rgb(105, 190, 170);
$juw-apatith-500: rgb(185, 215, 210);
$juw-apatith-300: rgb(115, 240, 235);
$juw-apatith: $juw-apatith-900;

//$juw-peridot: rgba(80, 115, 20, 0.7); // old color
$juw-peridot-900: rgb(80, 115, 20);
$juw-peridot-700: rgb(165, 190, 25);
$juw-peridot-500: rgb(210, 220, 95);
$juw-peridot-300: rgb(230, 235, 175);
$juw-peridot: $juw-peridot-900;

//$juw-citrin: rgba(175, 150, 30, 0.7); // old color
$juw-citrin-900: rgb(175, 150, 30);
$juw-citrin-700: rgb(225, 205, 30);
$juw-citrin-500: rgb(245, 230, 120);
$juw-citrin-300: rgb(255, 240, 180);
$juw-citrin: $juw-citrin-900;

$juw-quarz-900: rgb(155, 140, 120);
$juw-quarz-700: rgba(155, 140, 120, 0.54);
$juw-quarz-500: rgba(155, 140, 120, 0.25);
$juw-quarz-300: rgba(155, 140, 120, 0.1);
$juw-quarz: $juw-quarz-900;
// @deprecated in 8.0.6 $juw-quarz should be used
$juw-platin: $juw-quarz-500; // The color platin does not exist in style guide and should

$juw-grey-900: rgba(0, 0, 0, 0.87);
$juw-grey-700: rgba(0, 0, 0, 0.54);
$juw-grey-500: rgba(0, 0, 0, 0.25);
$juw-grey-300: rgba(0, 0, 0, 0.12);
$juw-grey: $juw-grey-900;

$juw-error-color: react-md.$md-red-900;
$juw-success-color: react-md.$md-green-900;
$juw-primary: $juw-rodolith-800;
$juw-secondary: $juw-apatith;
$juw-font-color: $juw-grey-900;

$md-primary-color: $juw-primary;
$md-secondary-color: $juw-secondary;
$md-error-color: $juw-error-color;
