$juw-rodolith: rgba(150, 25, 100, 1);
$juw-rubin: rgba(150, 30, 70, 0.7);
$juw-topas: rgba(0, 110, 150, 0.7);
$juw-apatith: rgba(0, 120, 125, 0.7);
$juw-peridot: rgba(80, 115, 20, 0.7);
$juw-citrin: rgba(175, 150, 30, 0.7);
$juw-platin: rgba(155, 140, 120, 0.25);
$juw-error-color: rgba(185, 0, 0 , 1);
