@import './main.scss';

$md-primary-color: $juw-rodolith;
$md-secondary-color: $juw-apatith;

.font-icon__primary {
  color: $md-primary-color;
}

.primary-bold {
  color: $md-primary-color;
  font-weight: bold;
}

@include react-md-everything;
