@import '~react-md/src/scss/react-md';
@import "../../Style/layout";
@import "../../Style/colors";

.badges__notifications {
  &__notification {
    position: relative;
    transition-property: transform, opacity;
    transition-duration: 300ms;

    &.fadein-enter {
      transform: translate3d($notification-drawer-width, 0, 0);
    }

    &.fadein-enter.fadein-enter-active {
      transform: translate3d(0, 0, 0);
    }

    &.fadein-leave {
      transition-duration: 200ms;
      opacity: 0.9;
    }

    &.fadein-leave.fadein-leave-active {
      transition-duration: 200ms;
      opacity: 0;
    }

    &.md-card {
      background: $md-snackbar-color;
      color: #fff !important;
      border-radius: 3px;
      opacity: 0.9;

      .md-card-text:last-child {
        padding-bottom: 8px;
      }

      .md-btn--text {
        color: #fff !important;
      }

      .badge {
        position: absolute;
        top: 0;
        left: 8px;

        .md-badge {
          background: $md-snackbar-color;

          &--circular {
            font-size: 12px;
          }
        }
      }

      .header {
        padding: 8px 8px 0 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .timestamp {
        color: #cdcdcd;
        font-size: 0.825em;
        margin-left: auto;
      }
    }

    &.error {
      background: $juw-error-color;

      .badge .md-badge {
        background: $juw-error-color;
      }
    }

    &.clickable {
      cursor: pointer;
    }
  }
}
