@import '~react-md/src/scss/react-md';

.app-header {
  .md-badge {
    background: transparent;
    color: white;
    border: 1px solid white;
    right: -4px;
    top: -2px;
    width: 22px;
    height: 22px;
    @media #{$md-desktop-media} {
      right: -6px;
      top: -6px;
    }
  }
}

.md-badge-container {
  &--empty .md-badge {
    border: none !important;
  }
}
