@import '~react-md/src/scss/globals';
@import '~react-md/src/scss/typography';
@import '~react-md/src/scss/components/icons';
@import '~react-md/src/scss/components/drawers';
@import "../../Style/layout";

.notification-fadein {
  transition-property: right;
  transition-duration: $md-drawer-transition-time;
  position: fixed;
  width: 300px;
  top: calc(64px + -1 * #{$md-default-padding} / 4);
  right: calc(-1 * #{$md-default-padding} / 4);
  z-index: 16;
}


.notification-drawer--visible {
  .notification-fadein {
    right: calc(-1 * #{$notification-drawer-width} - calc(#{$md-default-padding} / 4));
  }
}
