.md-dialog-container {
  display: flex;

  .md-dialog.md-dialog--centered {
    transform-origin: unset !important;
    transform: none;
    margin: auto;
    top: unset;
    left: unset;
    position: relative;

    &.md-dialog--centered-enter {
      transition-property: transform !important;
      transform: translateY(-10%) !important;
    }

    &.md-dialog--centered-enter.md-dialog--centered-enter-active {
      transition-property: transform !important;
      transform: translateY(0) !important;
    }

    &.md-dialog--centered-leave {
      transition-property: transform !important;
      transform: translateY(0) !important;
    }

    &.md-dialog--centered-leave.md-dialog--centered-leave-active {
      transition-property: transform !important;
      transform: translateY(-10%) !important;
    }
  }
}
